<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 적용 -->
    </settings>
    <typeAliases> <!-- 자바파일에대한 전역 별칭 설정 -->
        <typeAlias type="com.example.demo.entity.Board" alias="Board"/> <!-- board클래스 alias 등록 -->
    </typeAliases>
    <mappers>
        <mapper resource="mybatis.mapper.BoardMapper.xml"/>
    </mappers>
</configuration>